nav {
  display: flex;
  list-style-type: none;
  gap: 60px;
}

main {
  display: flex;
  gap: 40px;
  padding: 20px;
}

.Projects {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin: 50px;
  align-items: center;
}

.project-card {
  padding: 50px;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 5px;
}
