div {
  border: solid white 1px;
  padding: 20px;
  margin: 10px;
}

.nav_links {
  background-color: rgb(46, 45, 45);
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  gap: 65px;
}

#footer {
  margin-top: 200px;
}
